[submodule "projects/godot-squash-the-creeps-3d/addons/haxe"]
	path = projects/godot-squash-the-creeps-3d/addons/haxe
	url = https://github.com/HaxeGodot/editor-plugin.git
[submodule "projects/nat-godot-playground/addons/haxe"]
	path = projects/nat-godot-playground/addons/haxe
	url = https://github.com/HaxeGodot/editor-plugin.git
